$base-dark: #2D2C35;
$base-light: #fff;

$main-blue-500: #140D53;
$main-blue-100: #D0CFDD;

$main-orange-500: #EE7101;
$main-orange-400: #F18D34;
$main-orange-300: #F5AA67;

$main-orange-hover: #E56D01;

$support-medium-500: #7C86A3;
$support-medium-300: #B0B6C8;
$support-medium-200: #CBCFDA;
$support-medium-100: #E5E7ED;
$support-light-500: #E6E9EE;
$support-light-300: #F0F2F5;
$support-light-100: #FAFBFC;

$speciality-red-500: #E43131;