<div class="form-container">
    <h2>
        <span>{{ stepsService.activeStepSignal()?.id }} / </span>
        {{ stepsService.activeStepSignal()?.title }}
    </h2>

    <div class="input-component">
        @for (component of this.componentData; track $index) {
            <ng-container 
                [ngComponentOutlet]="component.type"
                [ngComponentOutletInputs]="component.inputs"></ng-container>
        }
    </div>
</div>

<div class="button-container">
    <app-secondary-button (click)="stepsService.previousStep(); this.dynamicComponentAssign()" label="Back"></app-secondary-button>
    <app-primary-button (click)="stepsService.nextStep(); this.dynamicComponentAssign(); this.submitForm()" label="Next"></app-primary-button>
</div>