<div class="form-container">
    <h2>
        <span>{{ stepsService.activeStepSignal()?.id }} / </span>
        {{ stepsService.activeStepSignal()?.title }}
    </h2>

    <div class="input-component">
        @for (component of this.componentData(); track $index) {
            <ng-container 
                [ngComponentOutlet]="component.type"
                [ngComponentOutletInputs]="component.inputs"></ng-container>
        }
    </div>
</div>

<div class="button-container">
    <app-secondary-button (click)="this.handleStepChange(false)" label="Back" icon="icons/arrow-left.svg" [hidden]="showBackButton()"></app-secondary-button>
    @if (this.activeStepIndex() === 10) {
        <app-primary-button (click)="this.handleStepChange(true)" label="Submit" icon="icons/celebration.svg"></app-primary-button>
    } @else {
        <app-primary-button (click)="this.handleStepChange(true)" [label]="nextStepTitle()" icon="icons/arrow-right.svg"></app-primary-button>
    }
</div>